[submodule "dependencies/gn_module_monitoring"]
	path = dependencies/gn_module_monitoring
	url = https://github.com/PnX-SI/gn_module_monitoring.git
[submodule "dependencies/GeoNature"]
	path = dependencies/GeoNature
	url = https://github.com/PnX-SI/GeoNature.git
