[central]
base_url = "https://odk-test.cevennes-parcnational.net"
username = "username"
password = "password"
default_project_id = 1

[gn_odk]
email_for_error = "hot-limit@gmail.com"

[STOM]
    [STOM.SITE]
    [STOM.VISIT]
        id_base_site = "<ecran>/id_base_site"
        id_dataset = "visite/id_jdd"
    [STOM.OBSERVATION]